body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #01031cd9;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;

}

.navbar h1 {
    margin: 0;
    float: left;
    font-size: 30px;
    margin-bottom: 10px;
}

.navbar button {
    float: right;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.posts {
    padding: 20px 0;
    overflow-y: scroll;
    height: calc(100vh - 180px); /* Adjust based on your layout */
}

.post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.footer {
    background-color: #01031cd9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer button {
    font-size: 20px;
    display: inline-block;
    background-color: rgb(79 70 229);
    color: #fff;
    padding: 5px;
    margin: 0px 30px 0px 30px;
    text-decoration: none;
    border-radius: 10px;
}
